body {
    background-image: url('/images/homeBackground1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 210px;
}

.col-md-4 {
    width: 500px; 
    background-color: #9ae287; 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.3);
}

h1, h2 {
    color: #2e8811; 
    font-weight: 700;
}

.form-control {
    font-size: 1.2rem;
    border: 2px solid #2e7c20;
    border-radius: 8px;
    padding: 12px;
    color: #34495e;
}

    .form-control:focus {
        border-color: #043207;
        box-shadow: 0 0 6px #043207;
    }

#registerSubmit {
    background-color: #4ae91c;
    color: black;
    border: none;
    font-size: 1.3rem;
    padding: 14px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

    #registerSubmit:hover {
        background-color: #317a1c;
        color: white;
    }