@page
@*@model IndexModel@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@


<link rel="stylesheet" href="~/css/home.css" />

<div class="hero">
    <div class="hero-text">
        <h1>WELCOME TO <span class="highlight">BOOKWORLD</span>!</h1>
        <p>Your gateway to imagination, knowledge, and unforgettable stories.</p>
        <a class="btn-main" href="/Books">📚 Browse Library</a>
    </div>
</div>
